# ignore all files without extensions (c-compiled code on WSL)
*
!*.*
!*/

# Visual Studio projects build and folders
**/x64/
**/.vs/

# Compiled code: c++ and cuda on Windows
*.exe
*.lib
*.exp

# Generated images with sobel filter
/images/*_sobel.jpg